MONGODB_URI=<your_mongodb_uri>
JWT_ACCESS_SECRET=<your_jwt_access_secret>
JWT_REFRESH_SECRET=<your_jwt_refresh_secret>
MINING_DIFFICULTY=00
COINBASE_AMOUNT=10
COINBASE_SENDER=00
FRONTEND_URL=<your_frontend_url>